body {
    background-color: #000; 
    color: aliceblue; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
justify-content: center;
align-items: center;}

.heading {
    justify-items: center;
    display: flex;
    align-items: center;

}

.login{
    align-content: center;
    padding-left: 30rem;
}